<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body>
    <%- include('heading.ejs') %>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
        <h3 class="text-4xl my-4 font-medium"><%= title %></h3>
        <div class="my-8">
            <h2 class="my-2 text-lg text-black flex gap-1">your election has <span class="text-black-600"> <%= nq %> </span> questions</h2>
            <a href="/questions/<%= id %>" class="py-1 hover:text-black-800 text-black-600">Manage questions</a>
        </div>
        <div class="my-8">
            <h2 class="my-2 text-lg text-black flex gap-1">your election has <span class="text-black-600"> <%= nv %> </span>  voters.</h2>
            <a href="/voters/<%= id %>" class="py-1 hover:text-black-800 text-black-600">Manage voters</a>
        </div>
        <div>
            <a href="" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2">Launch election</a>
        </div>
        </div>
    </div>
    </table>
</body>
</html>